@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

body {
  padding-top: 50px;
  background-color: transparent;
  color: white;
}

.banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/static/img/Baner.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 40%;
}

.banner-text{
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  font-weight: bold;
}

.row {
  margin: 2rem;
}

.column-text {
  padding: 20px;
  background-color: #2A385D;
  transition: 1s;
}

.column-text > p {
  text-align: justify;
}

.column-text:hover {
  background-color: #2B63AD;
}

.img-contact {
  border-radius: 50%;
  margin-right: 10px;
  width: 15%;
  height: 15%;
}
