{% extends 'base.html' %}

{% block body %}
<!-- Map -->
<div class="col-4">
  <br>
  <h1>
    <p><mark class="text-success">OFFSHORE WIND FARM LOCALIZATION</mark></p>
  </h1>
  <br>
  <h2>
    <p class="text-info">Project Group 2</p>
  </h2>
  <br>
  <h3>
    <p class="text-info">Members:</p>
  </h3>
  <h3>
    <p class="text-info">Olga Carmen Steu</p>
  </h3>
  <h3>
    <p class="text-info">Fotis Kioutsoukis</p>
  </h3>
  <h3>
    <p class="text-info">Piotr Michalak</p>
  </h3>
  <h3>
    <p class="text-info">Angelina Patsili</p>
  </h3>
</div>

<!-- Sliders -->
<div class="col-8" align='center'>
  <br>
  <br>
  <h2>
    <p class="text-info align-self-start">In this project we are trying to built a digital solution for finding suitable areas for building a wind farm in the Baltic sea, using webGIS tools. </p>
  </h2>
  <h3>
</div>
{% endblock %}
