{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}" type="text/css">
{% endblock %}

{% block body %}

<h1 id="title">About the project</h1>
<p class="about-text">
  In this project we are trying to built a digital solution for finding suitable areas for building a wind farm in the Baltic sea, using webGIS tools
</p>

<p class="about-text">
  In 2018 Europe connected 409 new offshore wind turbines to the grid across 18 projects. This brought 2,649 MW of net additional capacity. Europe now has a total installed offshore wind capacity of 18,499 MW. This corresponds to 4,543 grid-connected
  wind turbines across 11 countries. Separately, twelve new offshore wind projects reached Final Investment Decision (FID) in 2018. Investments in new assets amounted to €10.3bn. This financed 4.2 GW of additional capacity, which will come on line in
  the next couple of years. Then..
</p>



{% endblock %}