<!doctype html>
<html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--Reload cache in browser-->
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <!-- Bootstrap CSS & JS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <!-- Open Layers CSS -->
    <link rel="stylesheet" href="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.1.3/css/ol.css" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='ol/ol.css') }}" type="text/css">
    <script src="{{ url_for('static', filename='ol/ol.js') }}"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css">
    <script src="https://unpkg.com/ol-layerswitcher@3.0.0"></script>
    <link rel="stylesheet" href="https://unpkg.com/ol-layerswitcher@3.0.0/src/ol-layerswitcher.css" />

    <!-- Progress bar -->
    <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>

    <!-- Import fonts  -->
    <link href='https://fonts.googleapis.com/css?family=Quantico' rel='stylesheet' type='text/css'>

    <title>Offshore Wind Turbines Localizator</title>
  </head>

  <body>
    <!-- TODO return navbar menu (Piotr)-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="{{ url_for('index') }}">Map</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

          <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('about') }}">About<span class="sr-only">(current)</span></a>
          </li>

          <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('statistics') }}">Statistics<span class="sr-only">(current)</span></a>
          </li>

        </ul>
      </div>
    </nav>

    <!-- Divide page -->
    <div class="container-fluid" style="margin-top:10px">
      <div class="row">

        <!-- Map -->
        <div class="col-9">
          <div id="map" class="map"></div>
          <div id="popup" class="ol-popup">
            <a id="popup-closer" class="ol-popup-closer"></a>
            <div id="popup-content"></div>
          </div>
        </div>

        <!-- Sliders -->
        <div class="col-3" align='center'>
          <div class="slidecontainer">
            <p align='center'><b>Bathymetry</b></p>
            <input type="range" min="0" max="10" value="5" class="slider" id="rangeBath">
            <p>Bathymetry weight: <span id="outBath"></span></p>

            <p align='center'><b>Shipping</b></p>
            <input type="range" min="0" max="10" value="5" class="slider" id="rangeShip">
            <p>Shipping weight: <span id="outShip"></span></p>

            <p align='center'><b>Wind Speed</b></p>
            <input type="range" min="0" max="10" value="5" class="slider" id="rangeWind">
            <p>Wind Speed weight: <span id="outWind"></span></p>
          </div>
          <button type="button" onclick="commitWeightFunction()">Click Me!</button>
          <div class="progress-wrap progress" data-progresspercent="100" data-height="10px" data-width="150px" data-speed="10000" data-color="3a9c23">
            <div class="progress-bar progress"></div>
          </div>
        </div>
      </div>
      <script src="{{ url_for('static', filename='javascript.js') }}"></script>

    </div>

  </body>

</html>