{% extends 'base.html' %}

{% block body %}

<div class="container-fluid" style="margin-top:10px">
  <div class="row">

    <!-- Map -->
    <div class="col-9">
      <div id="lcoe_map" class="map"></div>
      <div id="popup" class="ol-popup">
        <a id="popup-closer" class="ol-popup-closer"></a>
        <div id="popup-content"></div>
      </div>
    </div>

    <!-- Column -->
    <div class="col-3" align='center'>
      <h2> Money, Money, Money <h2>
          <p>I work all night, I work all day, to pay the bills I have to pay</p>
          <p>Ain't it sad</p>
          <p>And still there never seems to be a single penny left for me</p>
          <p>That's too bad</p>
          <p>In my dreams I have a plan</p>
          <p>If I got me a wealthy man</p>
          <p>I wouldn't have to work at all, I'd fool around and have a ball</p>
    </div>
  </div>
  <script src="{{ url_for('static', filename='javascript/lcoe.js') }}"></script>
</div>
{% endblock %}