{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/statistics.css') }}" type="text/css">
<!-- interactive graph -->
<script src="https://cdn.zingchart.com/zingchart.min.js"></script>
{% endblock %}

{% block body %}
<div class="container-fluid full-height">
  <div class="row full-height">

    <!-- Map -->
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 col-no-padding full-height">
      <div id="existing_farms_map" class="map"></div>
      <!-- Popups -->
      <div id="popup" class="ol-popup">
        <a id="popup-closer" class="ol-popup-closer"></a>
        <div id="popup-content"></div>
      </div>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 col-no-padding full-height overflow-scroll text-light bg-dark" align="center">
      <br>
      <h4 id='title'>Installed wind power capacity in the Baltic Sea (May 2018)</h4>
      <!--INTERACTIVE GRAPH-->
      <div id="myChart" class="chart-container"><a class="zc-ref" href="https://www.zingchart.com/">Powered by ZingChart</a></div>
    </div>
  </div>
</div>

<!-- Import JS -->
<script src="{{ url_for('static', filename='javascript/statistics.js') }}"></script>
</div>
{% endblock %}
